<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jxau.zhaowei.myspringboot.mapper.UserMapper">
    <!--保存用户-->
    <insert id="insert" parameterType="cn.jxau.zhaowei.myspringboot.Modal.User">
        insert into t_user values (#{id},#{username},#{password})
    </insert>
</mapper>